@font-face {
  font-family: "Acumin Pro SemiCondensed";
  src: url("../fonts/acumin-pro/AcuminProSemiCond-Bold.eot");
  src:
    url("../fonts/acumin-pro/AcuminProSemiCond-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProSemiCond-Bold.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProSemiCond-Bold.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProSemiCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-ExtraLight.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-ExtraLight.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-ExtraLight.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Thin.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Thin.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Thin.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-UltraBlack.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-UltraBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-UltraBlack.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-UltraBlack.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-UltraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Bold.eot");
  src:
    url("../fonts/acumin-pro/../fonts/acumin-pro/AcuminProWide-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Bold.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Bold.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Black.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Black.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Black.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Light.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Light.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Light.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Medium.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Medium.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Medium.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Semibold.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Semibold.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Semibold.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Wide";
  src: url("../fonts/acumin-pro/AcuminProWide-Regular.eot");
  src:
    url("../fonts/acumin-pro/AcuminProWide-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acumin-pro/AcuminProWide-Regular.woff2") format("woff2"),
    url("../fonts/acumin-pro/AcuminProWide-Regular.woff") format("woff"),
    url("../fonts/acumin-pro/AcuminProWide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-Bold.eot");
  src:
    url("../fonts/transducer/Transducer-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-Bold.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-Bold.woff") format("woff"),
    url("../fonts/transducer/Transducer-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-Medium.eot");
  src:
    url("../fonts/transducer/Transducer-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-Medium.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-Medium.woff") format("woff"),
    url("../fonts/transducer/Transducer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-CondensedMedium.eot");
  src:
    url("../fonts/transducer/Transducer-CondensedMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-CondensedMedium.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-CondensedMedium.woff") format("woff"),
    url("../fonts/transducer/Transducer-CondensedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-CondensedRegular.eot");
  src:
    url("../fonts/transducer/Transducer-CondensedRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-CondensedRegular.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-CondensedRegular.woff") format("woff"),
    url("../fonts/transducer/Transducer-CondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-CondensedBold.eot");
  src:
    url("../fonts/transducer/Transducer-CondensedBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-CondensedBold.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-CondensedBold.woff") format("woff"),
    url("../fonts/transducer/Transducer-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Black Cond";
  src: url("../fonts/transducer/Transducer-CondensedBlack.eot");
  src:
    url("../fonts/transducer/Transducer-CondensedBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-CondensedBlack.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-CondensedBlack.woff") format("woff"),
    url("../fonts/transducer/Transducer-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-ExtendedBold.eot");
  src:
    url("../fonts/transducer/Transducer-ExtendedBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-ExtendedBold.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-ExtendedBold.woff") format("woff"),
    url("../fonts/transducer/Transducer-ExtendedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src: url("../fonts/transducer/Transducer-ExtendedMedium.eot");
  src:
    url("../fonts/transducer/Transducer-ExtendedMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-ExtendedMedium.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-ExtendedMedium.woff") format("woff"),
    url("../fonts/transducer/Transducer-ExtendedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Exp";
  src: url("../fonts/transducer/Transducer-ExtendedRegular.eot");
  src:
    url("../fonts/transducer/Transducer-ExtendedRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-ExtendedRegular.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-ExtendedRegular.woff") format("woff"),
    url("../fonts/transducer/Transducer-ExtendedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Thin Exp Hairline";
  src: url("../fonts/transducer/Transducer-ExtendedHairline.eot");
  src:
    url("../fonts/transducer/Transducer-ExtendedHairline.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-ExtendedHairline.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-ExtendedHairline.woff") format("woff"),
    url("../fonts/transducer/Transducer-ExtendedHairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Black Exp";
  src: url("../fonts/transducer/Transducer-ExtendedBlack.eot");
  src:
    url("../fonts/transducer/Transducer-ExtendedBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/transducer/Transducer-ExtendedBlack.woff2") format("woff2"),
    url("../fonts/transducer/Transducer-ExtendedBlack.woff") format("woff"),
    url("../fonts/transducer/Transducer-ExtendedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
