footer {
  margin-top: auto;
  padding-bottom: 46px;
  background-color: var(--black);
}

.footer-ig-link-wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--font-transducer);
  font-weight: 400;
  margin-bottom: 34px;
}

.footer-ig-link {
  position: relative;
}

.footer-ig-link::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.footer-ig-link-wrapper:hover .footer-ig-link::after {
  width: 100%;
}

.footer-slider {
  margin-bottom: 79px;
}

.footer-track {
  overflow: visible;
}

.footer-slide-img-content {
  width: 228px;
  height: 208px;
}

.footer-content-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}

.footer-content {
  width: 50%;
}

.footer-contact-title {
  margin-bottom: 50px;
}

.footer-contact-item {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 22px;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-icon-content {
  width: 36%;
}

.contact-location {
  align-items: start;
}

.footer-contact-location {
  color: var(--white-50);
  margin-top: 8px;
}

.footer-update-wrapper {
  width: 50%;
  max-width: 464px;
}

.footer-sign-up-form {
  margin-top: 20px;
}

.footer-sign-up-form input::placeholder {
  color: var(--white);
}

.footer-sign-up-btn {
  margin-top: 36px;
}

.footer-social-media-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 50px;
}

.footer-media-icon {
  width: 48%;
  aspect-ratio: 1;
}

.footer-platforms {
  margin-top: 64px;
}

.finance-media-title {
  font-family: var(--font-acumin-wide);
  font-weight: 500;
}

.finance-media-wrapper {
  display: flex;
  align-items: center;
  gap: 36px 48px;
  flex-wrap: wrap;
  margin-top: 38px;
}

.finance-img-content {
  filter: grayscale(1);
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}

.finance-img {
  max-width: 145px;
  max-height: 72px;
  object-fit: contain;
}

.finance-img-content:hover {
  filter: grayscale(0);
}

.the-curious-tag {
  max-width: 112px;
  min-height: 12px;
  margin-top: 52px;
}

.the-curious-img {
  object-fit: contain;
}

.footer-link-wrapper {
  width: 50%;
  max-width: 464px;
  font-family: var(--font-acumin-wide);
  display: flex;
  align-items: start;
  gap: 36px 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-link {
  max-width: max-content;
  color: var(--white-50);
  margin-top: 14px;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

@media (max-width: 1279px) {
  .footer-slider {
    margin-bottom: 58px;
  }

  .footer-contact-title {
    margin-bottom: 28px;
  }

  .footer-contact-content {
    font-size: 16px;
  }

  .footer-platforms {
    margin-top: 56px;
  }

  .finance-media-wrapper {
    margin-top: 32px;
  }

  .the-curious-tag {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .footer-ig-link-wrapper {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 1.25;
  }

  .footer-slider {
    margin-bottom: 42px;
  }
  .footer-contact-content {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer-content-wrapper {
    flex-direction: column;
  }

  .footer-platforms {
    flex-direction: column-reverse;
  }

  .footer-content,
  .footer-update-wrapper,
  .footer-link-wrapper {
    width: 100%;
  }

  .footer-slider {
    margin-bottom: 34px;
  }

  .footer-slide-img-content {
    width: 160px;
    height: 150px;
  }

  .footer-contact-title {
    margin-bottom: 20px;
  }

  .footer-sign-up-form {
    margin-top: 12px;
  }

  .footer-sign-up-form input {
    font-size: 16px;
  }

  .footer-sign-up-btn {
    margin-top: 28px;
  }

  .footer-social-media-wrapper {
    margin-top: 36px;
  }

  .footer-link-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .footer-update-wrapper {
    max-width: 100%;
  }

  .footer-contact-item {
    gap: 12px;
  }

  .footer-contact-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .finance-media-wrapper {
  }
}
