@media (max-width: 1279px) {
  /* ----- Hero section ----- */
  .hero-content-wrapper::before {
    clip-path: polygon(0 0, 72% 0, 42% 100%, 0 100%);
  }

  .hero-content-wrapper::after {
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 42% 100%);
  }

  .featured-slider-wrapper {
    width: 580px;
    padding-inline: 40px;
  }

  /* ----- Two column section ----- */
  .champions-column-section {
    padding-block: 104px 72px;
  }

  /* ----- Two column section ----- */
  .two-column-description {
    margin-block: 32px;
  }

  /* ----- Cta banner section ----- */
  .home-cta-banner {
    padding-block: 72px 42px;
  }

  /* ----- Finance column section ----- */
  .finance-column-section {
    padding-block: 60px 110px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-section {
    padding-block: 138px 120px;
  }

  .testimonial-content-tag {
    font-size: 96px;
  }
}

@media (max-width: 991px) {
  /* ----- Hero section ----- */
  .hero-section {
    height: auto;
    align-items: start;
    padding-top: 82px;
    background-size: contain;
    background-position: center;
  }

  .hero-main-wrapper {
    flex-direction: column;
    gap: 60px;
  }

  .hero-content-wrapper {
    padding-top: 98px;
    width: 100%;
  }

  .hero-media {
    width: calc(100% + 40px);
    height: 464px;
    position: static;
    clip-path: none;
  }

  /* ----- Featured slider section ----- */
  .home-featured-slider {
    padding-block: 76px 60px;
  }

  .featured-slider-wrapper {
    padding-inline: 30px;
  }

  .featured-slider-img-content {
    width: 446px;
    height: 386px;
  }

  .primary-slider-arrows .splide__arrow {
    top: -18%;
    transform: translateY(18%) skew(-14deg, 0);
  }

  .featured-content-price {
    margin-top: 10px;
  }

  /* ----- Explore more section ----- */
  .home-explore-more {
    padding-block: 74px 105px;
  }

  .explore-wrapper {
    width: 604px;
    height: 400px;
  }

  .explore-slider {
    margin-block: 50px 40px;
  }

  /* ----- Two column section ----- */
  .champions-column-section {
    padding-block: 0 50px;
  }

  .two-column-wrapper {
    flex-direction: column;
    gap: 70px;
  }

  .two-column-bg-left-layer::before,
  .two-column-bg-right-layer::after {
    display: none;
  }

  .two-column-img-content {
    max-width: none;
    width: calc(100% + 36px);
    height: 425px;
  }

  .two-column-content,
  .two-column-description {
    max-width: 100%;
  }

  .two-column-content {
    width: 100%;
  }

  .two-column-description {
    margin-block: 28px;
  }

  /* ----- Cta banner section ----- */
  .home-cta-banner {
    padding-top: 50px;
  }

  /* ----- Shop by brand section ----- */
  .shop-by-brand {
    padding-block: 42px 50px;
  }

  /* ----- Finance column section ----- */
  .finance-column-section {
    padding-block: 50px 80px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-section {
    padding-block: 108px 90px;
  }

  .testimonial-content-tag {
    font-size: 76px;
  }

  .testimonial-content {
    font-size: 25px;
  }

  .testimonial-content-wrapper {
    max-width: 678px;
  }

  .testimonial-slider {
    margin-bottom: 50px;
  }

  .testimonial-location {
    font-size: 16px;
  }

  .testimonial-slider .splide__pagination {
    bottom: -54px;
  }

  /* ----- Cta blog section ----- */
  .cta-blog-title .font-60 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-content-wrapper::before {
    clip-path: polygon(0 0, 136% 0, 10% 100%, 0 100%);
  }

  .hero-content-wrapper::after {
    clip-path: polygon(150% 0, 100% 0, 100% 100%, -38% 100%);
  }

  /* ----- Featured slider section ----- */
  .home-featured-slider {
    padding-block: 60px 44px;
  }

  .primary-slider-arrows .splide__arrow {
    width: 38px;
    height: 32px;
  }

  .primary-slider-arrows .splide__arrow--prev {
    right: 54px;
  }

  .primary-slider-arrows .splide__arrow svg {
    width: 6px;
    height: 12px;
  }

  .featured-slider-wrapper {
    width: 496px;
  }

  .featured-slider-img-content {
    width: 392px;
    height: 332px;
  }

  .featured-content-price {
    font-size: 22px;
    margin-top: 6px;
  }

  /* ----- Explore more section ----- */
  .explore-wrapper {
    width: 564px;
    height: 360px;
  }

  /* ----- Two column section ----- */
  .two-column-description {
    font-size: 16px;
    line-height: 1.625;
  }

  /* ----- Finance column section ----- */
  .finance-column-section {
    padding-bottom: 58px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-section {
    padding-block: 78px 78px;
  }

  .testimonial-slider,
  .testimonial-content-wrapper {
    max-width: 100%;
  }

  .testimonial-content-tag {
    font-size: 68px;
  }
}

@media (max-width: 575px) {
  /* ----- Hero section ----- */
  .hero-btn-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 18px;
  }

  /* ----- Featured slider section ----- */
  .featured-slider-wrapper {
    width: 310px;
    padding-inline: 18px;
    padding-bottom: 20px;
  }

  .primary-slider-arrows .splide__arrow {
    top: -24%;
    transform: translateY(15%) skew(-14deg, 0);
  }

  .featured-slider-img-content {
    width: 272px;
    height: 252px;
  }

  /* ----- Explore more section ----- */
  .explore-wrapper {
    width: 345px;
    height: 225px;
  }

  .explore-wrapper .btn {
    font-size: 10px;
  }

  /* ----- Shop by brand section ----- */
  .shop-brand-title {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  /* ----- Testimonial section ----- */
  .testimonial-location {
    font-size: 14px;
  }

  .testimonial-slider .splide__pagination__page::before,
  .testimonial-slider .splide__pagination__page {
    width: 44px;
  }

  /* ----- Cta blog section ----- */
  .cta-blog-wrapper {
    padding: 14px;
  }
}
