/* ----- Hero section ----- */
.hero-section {
  height: 100vh;
  padding-top: 92px;
  display: flex;
  align-items: center;
  background: url(../images/sections/hero-section/hero-bg-layer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero-content-wrapper::before,
.hero-content-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-content-wrapper::before {
  left: 0;
  background-color: var(--black-300);
  clip-path: polygon(0 0, 68% 0, 38% 100%, 0 100%);
}

.hero-content-wrapper::after {
  right: 0;
  background-color: var(--gray-500);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 36% 100%);
}

.hero-main-wrapper {
  display: flex;
  align-items: center;
}

.hero-content-wrapper {
  width: 48%;
  height: 100%;
  padding-left: 4%;
}

.hero-title {
  font-family: var(--font-transducer-exp);
  font-style: italic;
  font-weight: 400;
  color: var(--primary-100);

  span {
    font-family: var(--font-transducer-black-exp);
  }
}

.hero-dec {
  max-width: 481px;
  margin-block: 22px 30px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-media {
  width: 52%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 0 100%);
}

/* ----- Featured slier section ----- */
.home-featured-slider {
  padding-block: 92px 80px;
}

.featured-slider {
  margin-top: 36px;
}

.primary-slider-arrows .splide__arrow {
  top: -16%;
  width: 56px;
  height: 46px;
  opacity: 1;
  border-radius: 0;
  color: var(--white);
  background: var(--black);
  transform: translateY(16%) skew(-14deg, 0);
  transition: all 0.3s ease-in-out;
}

.primary-slider-arrows .splide__arrow:hover {
  opacity: 1;
  background: var(--primary-100);
  color: var(--black);
  transform: translateY(16%) skew(-14deg, 0) scale(1.1);
}

.splide.is-focus-in .splide__arrow:focus {
  outline: none;
}

.primary-slider-arrows .splide__arrow--prev {
  left: auto;
  right: 72px;
}

.primary-slider-arrows .splide__arrow--next {
  right: 8px;
}

.primary-slider-arrows .splide__arrow svg {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
}

.featured-track {
  overflow: visible;
}

.featured-slider-wrapper {
  width: 605px;
  background-color: var(--white-200);
  padding-inline: 56px;
  padding-bottom: 32px;
}

.featured-slider-img-content {
  width: 492px;
  height: 454px;
}

.featured-slider-content {
  color: var(--gray-100);
}

.featured-content-title,
.featured-content-caption {
  font-style: italic;
}

.featured-content-title {
  font-family: var(--font-transducer-black-exp);
}

.featured-content-caption {
  font-family: var(--font-transducer);
  font-weight: 500;
}

.featured-content-price {
  margin-top: 18px;
  font-family: var(--font-transducer);
  font-weight: 400;
}

/* ----- Explore more section ----- */
.explore-more-section {
  background-color: var(--black);
}

.home-explore-more {
  padding-block: 80px 122px;
  background-color: var(--black-300);
}

.explore-slider {
  margin-block: 56px 46px;
}

.explore-track {
  overflow: visible;
}

.explore-wrapper {
  width: 674px;
  height: 440px;
  position: relative;
}

.explore-media-title {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.explore-media-btn {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

/* ----- Two column section ----- */
.champions-column-section {
  padding-block: 155px 92px;
}

.two-column-bg-left-layer,
.two-column-bg-right-layer {
  position: relative;
}

.two-column-bg-left-layer::before,
.two-column-bg-right-layer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: var(--white-200);
}

.two-column-bg-left-layer::before {
  left: 0;
  clip-path: polygon(42% 0, 0 0, 0 100%);
}

.two-column-bg-right-layer::after {
  right: 0;
  clip-path: polygon(100% 0, 72% 100%, 100% 100%);
}

.two-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.two-column-img-content {
  width: 52%;
  max-width: 670px;
}

.two-column-content {
  width: 48%;
  max-width: 566px;
}

.two-column-title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;

  span {
    font-family: var(--font-transducer);
    font-weight: 500;
  }
}

.two-column-description {
  max-width: 502px;
  margin-block: 44px;
  color: var(--black-200);
}

/* ----- Cta banner section ----- */
.home-cta-banner {
  padding-block: 92px 45px;
}

.cta-banner-wrapper {
  position: relative;
  height: 296px;
}

.cta-banner-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 18px;
}

.cta-banner-title {
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
}

/* ----- Shop by brand section ----- */
.shop-by-brand {
  padding-block: 45px 70px;
}

.shop-brand-title {
  display: flex;
  justify-content: center;
  gap: 14px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;

  span {
    font-family: var(--font-transducer);
    font-weight: 500;
  }
}

.shop-brand-slider {
  margin-top: 62px;
}

.shop-brand-list {
  align-items: center;
}

.shop-brand-content {
  max-width: 200px;
  max-height: 120px;
}

.shop-brand-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ----- Finance column section ----- */
.finance-column-section {
  padding-block: 70px 140px;
}

/* ----- Testimonial section ----- */
.testimonial-section {
  background: var(--black-300);
  padding-block: 168px 150px;
  position: relative;
}

.testimonial-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.testimonial-slider {
  max-width: 960px;
  margin-bottom: 66px;
}

.testimonial-content-wrapper {
  max-width: 792px;
}

.testimonial-content-tag {
  font-size: 108px;
  font-family: var(--font-transducer);
}

.testimonial-content {
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  margin-bottom: 55px;
}

.testimonial-slider .splide__pagination {
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  padding: 0;
}

.testimonial-slider .splide__pagination li {
  display: flex;
  line-height: 0;
}

.testimonial-slider .splide__pagination__page {
  width: 74px;
  height: 2px;
  margin: 0;
  border-radius: 0;
  padding-block: 6px;
  background: transparent;
  opacity: 1;
  position: relative;
}

.testimonial-slider .splide__pagination__page::before {
  content: "";
  width: 74px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--primary-100);
  opacity: 30%;
  transition: all 0.3s ease-in-out;
}

.testimonial-slider .splide__pagination__page.is-active,
.testimonial-slider .splide__pagination__page.is-active::before {
  transform: scale(1);
  opacity: 1;
}

.splide.is-focus-in .splide__pagination__page:focus,
.splide__pagination li:focus-visible {
  outline: none;
}

/* ----- Cta blog section ----- */
.cta-blog-section {
  height: 575px;
  position: relative;
}

.cta-blog-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.cta-blog-title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  font-weight: 900;
  margin-bottom: 24px;

  span {
    color: var(--primary-200);
  }
}

/* ========================================
          productCategory HTML
========================================*/
/* ----- Category hero section ----- */
.category-hero {
  background-color: var(--black);
  padding-block: 102px 78px;
  margin-top: 96px;
}

.category-hero-contents {
  max-width: 800px;
}

.category-hero-title {
  font-size: 50px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  line-height: 1.2;
}

.category-hero-description {
  color: var(--white-68);
  margin-block: 26px 28px;
}

.category-hero-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.category-hero-btn {
  background-color: var(--white-21);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.category-hero-btn:hover {
  color: var(--black);
}

/* ----- Product category section ----- */
.product-category-section {
  padding-block: 66px 110px;
  position: relative;
}

.product-category-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.product-items-wrapper {
  width: 18%;
  max-width: 224px;
  min-width: 224px;
  position: sticky;
  top: 120px;
  left: 0;
}

.product-category-links {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-category-link {
  font-family: var(--font-transducer-black-exp);
  font-weight: 500;
  font-style: italic;
  color: var(--black);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.product-category-link:not(:last-child)::after {
  content: "/";
  margin-left: 2px;
}

.product-category-link.active {
  font-family: var(--font-transducer);
  opacity: 50%;
}

.product-category-title {
  font-family: var(--font-transducer);
  font-weight: 400;
  margin-block: 42px 46px;
}

.filter-toggle-btn {
  display: none;
  align-items: center;
  gap: 12px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  font-weight: 500;
}

.filter-toggle-btn svg {
  width: 16px;
}

.product-lists-close-btn {
  display: none;
}

.product-clear-btn {
  border: none;
  background-color: transparent;
  color: var(--black-50);
  font-family: inherit;
  padding-block: 8px;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
}

.product-clear-btn:hover {
  color: var(--black);
}

.product-lists-item-wrapper {
  padding-block: 16px;
  border-top: 1px solid var(--black-25);
}

.type-lists-item-wrapper {
  display: none;
}

.product-lists-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-family: var(--font-transducer);
  font-weight: 400;
}

.product-lists-item-icon {
  width: 16px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.product-lists-item-title.active .product-lists-item-icon {
  transform: rotate(45deg);
}

.product-lists-contents {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease-in-out;
}

.product-lists-contents.active {
  grid-template-rows: 1fr;
  padding-block: 30px 10px;
}

.product-item-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-lists-item:not(:last-child) {
  margin-bottom: 10px;
}

.product-lists-item label {
  max-width: max-content;
  font-family: var(--font-transducer-exp);
  font-style: italic;
}

.product-blog-content {
  width: 82%;
  max-width: 995px;
  position: relative;
  padding-top: 66px;
}

.filter-drop-down {
  max-width: 194px;
  max-height: 135px;
  color: var(--black-200);
  border-radius: 14px;
  filter: drop-shadow(0 3px 6px var(--black-6));
  padding: 22px 19px 12px;
  position: absolute;
  top: -4px;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.filter-drop-down.active {
  background-color: var(--white);
}

.filter-box-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: 1px solid var(--black-25);
  transition: all 0.3s ease-in-out;
}

.filter-drop-down.active .filter-box-label {
  border-color: transparent;
}

.filter-box-label svg {
  width: 16px;
  height: 16px;
  color: var(--black);
}

.filter-box-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease-in-out;
}

.filter-drop-down.active .filter-box-wrapper {
  grid-template-rows: 1fr;
  padding-block: 5px 6 px;
}

.filter-box-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-box-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-box-item-label {
  text-transform: capitalize;
}

.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px 30px;
}

.product-card {
  width: 310px;
  padding: 18px;
  background-color: var(--white-100);
}

.product-card-img {
  height: 240px;
  object-position: bottom;
}

.product-card-title,
.product-card-caption {
  font-style: italic;
}

.product-card-title {
  font-family: var(--font-transducer-black-exp);
}

.product-card-caption,
.product-card-price {
  font-family: var(--font-transducer);
}

.product-card-price {
  font-weight: 400;
  color: var(--gray-100);
  margin-top: 8px;
}

.cta-content-banner {
  min-height: 240px;
  max-height: 240px;
  background-color: var(--black);
  position: relative;
  margin-block: 118px 108px;
}

.cta-contents-wrapper {
  width: 100%;
  max-width: 824px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cta-content {
  max-width: 478px;
}

.cta-content-title {
  font-size: 52px;
  font-family: var(--font-transducer);
  font-weight: 400;
  margin-bottom: 4px;
}

.product-load-more-btn {
  margin-top: 94px;
  justify-self: center;
}

/* ----- Explore more section ----- */
.category-explore-more {
  padding-block: 70px 85px;
}

/* ========================================
          ProductOpen HTML
========================================*/
/* ----- Product Overview section ----- */
.product-overview-section {
  padding-bottom: 90px;
  margin-top: 96px;
  position: relative;
}

.product-overview-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--white-200);
  clip-path: polygon(58% 0, 100% 0, 100% 100%, 30% 100%);
}

.product-overview-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.product-overview-media-wrapper {
  width: 70%;
  max-width: 882px;
}

.product-overview-share-btn {
  width: max-content;
  min-width: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  gap: 8px;
  background-color: var(--black-200);
  padding: 10px;
  font-family: var(--font-transducer);
  clip-path: polygon(18% 0%, 100% 0%, 82% 100%, 0% 100%);
  margin-top: 70px;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
}

.product-overview-share-btn:hover {
  background-color: var(--black);
}

.product-overview-share-btn-icon {
  width: 24px;
  height: 24px;
}

.product-overview-img {
  max-width: 882px;
  max-height: 560px;
}

#product-overview-thumbnail {
  width: 60%;
}

.product-overview-thumbnail-track {
  width: 72%;
  margin-inline: auto;
}

.product-overview-thumbnail-list {
  justify-content: center;
}

.splide__track--nav > .splide__list > .splide__slide,
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

.splide.is-focus-in .splide__slide:focus {
  outline: none;
}

.product-overview-thumbnail-arrows .splide__arrow {
  width: 22px;
  height: 26px;
  background: transparent;
  border-radius: 0;
  opacity: 1;
}

.product-overview-thumbnail-arrows .splide__arrow svg {
  width: 22px;
  height: 26px;
  color: var(--black);
  fill: none;
}

.product-overview-thumbnail-arrows .splide__arrow--next {
  right: 18px;
}

.product-overview-thumbnail-arrows .splide__arrow--prev {
  left: 18px;
}

.product-overview-contents {
  width: 30%;
  max-width: 364px;
}

.product-overview-label,
.product-overview-label-wrapper,
.product-overview-label-description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-overview-label {
  width: 100vw;
  color: var(--black-200);
  padding-block: 12px;
}

.product-overview-label-wrapper {
  padding-inline: 22px;
}

.product-overview-label-description {
  margin-right: 15px;
}

.product-overview-label-tag {
  font-weight: 600;
  margin-left: 4px;
}

.product-overview-title {
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  margin-block: 14px 22px;
}

.product-overview-title span {
  font-family: var(--font-transducer);
  font-weight: 500;
}

.product-overview-dec {
  color: var(--black-200);
  line-height: 1.6;
}

.product-overview-more-info {
  margin-top: 16px;
}

/* --- START MORE INFO MODAL --- */
.side-bar-modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--black-28);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.side-bar-modal.active {
  opacity: 1;
  visibility: visible;
}

.more-info-wrapper {
  width: 100%;
  max-width: 680px;
  height: 100vh;
  margin-left: auto;
  overflow: auto;
  background: url(../images/sections/hero-section/modal-bg-layer.png), var(--black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 20px;
  padding-inline: 80px 26px;
}

.more-info-modal-close-btn {
  justify-self: end;
  transition: all 0.3s ease-in-out;
  margin-bottom: 56px;
}

.more-info-modal-close-btn:hover {
  color: var(--white);
}

.more-info-modal-close-btn-icon {
  width: 55%;
}

.more-info-content {
  max-width: 544px;
  color: var(--white-80);
  font-weight: 200;
}

.more-info-modal {
  font-style: italic;
  font-family: var(--font-transducer-exp);
  font-weight: 400;
  margin-bottom: 40px;
}

.more-info-modal span {
  font-family: var(--font-transducer-black-exp);
}

.more-info-content-title {
  font-family: var(--font-transducer);
  font-weight: 400;
  margin-bottom: 22px;
}

.more-info-description {
  margin-bottom: 36px;
}

.more-info-content-list {
  list-style-type: disc;
  padding-left: 16px;
}
.more-info-content-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.more-info-modal-btn {
  margin-top: 54px;
}
/* --- END MORE INFO MODAL --- */

.product-overview-more-info::before,
.product-overview-more-info::after {
  border-color: var(--black);
}

.product-overview-price-wrapper {
  display: flex;
  align-items: end;
  gap: 12px;
  margin-top: 18px;
  color: var(--black-200);
}

.product-overview-price-wrapper span {
  font-family: var(--font-transducer);
  font-weight: 400;
  color: var(--gray-100);
}

.product-overview-btn-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  margin-block: 24px 22px;
}

.product-overview-qty-btn {
  min-width: 136px;
  border-color: var(--black);
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-overview-qty-btn svg {
  transition: all 0.3s ease-in-out;
}

.product-overview-qty-btn:hover svg {
  transform: rotate(180deg);
}

.product-overview-qty-btn-icon {
  width: 12px;
  height: 8px;
}

.compare-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.compare-btn input {
  appearance: none;
  width: 16px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-100);
  position: relative;
}

.compare-btn input::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ========================================
          Compare HTML
========================================*/
/* ----- Compare section ----- */
.compare-section {
  margin-top: 96px;
  padding-block: 104px 140px;
}

.compare-main-content {
  max-width: 375px;
  margin-bottom: 78px;
}

.compare-main-title {
  font-family: var(--font-transducer);
  margin-bottom: 12px;
}

.compare-main-caption {
  font-size: 15px;
  font-family: var(--font-transducer-exp);
  font-style: italic;
}

.compare-item-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

.compare-item-list {
  max-width: 544px;
  background-color: var(--white-200);
  filter: drop-shadow(0 0 20px var(--black-102));
  padding: 24px 18px;
}

.compare-caption-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.compare-caption {
  font-family: var(--font-transducer-exp);
  font-style: italic;
  line-height: 1.2;
  padding-block: 8px;
  padding-inline: 24px;
}

.compare-close-btn {
  width: 45px;
  background-color: var(--black);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.compare-close-btn-icon {
  width: 60%;
}

.compare-close-btn:hover {
  color: var(--black);
}

.compare-close-btn::after {
  background-color: var(--white-500);
}

.compare-item-title {
  font-style: italic;
  font-family: var(--font-transducer-exp);
  font-weight: 400;
  margin-top: 6px;
}

.compare-item-title span {
  font-family: var(--font-transducer-black-exp);
  display: block;
}

.compare-item-img-content {
  width: 508px;
  height: 324px;
}

.compare-item-price-apr-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  line-height: 1.181;
  margin-bottom: 30px;
}

.compare-item-price-apr-wrapper span {
  font-family: var(--font-transducer-exp);
  margin-inline: 6px 24px;
}

.compare-item-border {
  border: 1px solid var(--black-11);
}

.compare-item-specifics-tag {
  margin-block: 30px;
  font-family: var(--font-transducer-exp);
  font-style: italic;
}

.compare-item-specifics-tag span {
  font-family: var(--font-transducer-black-exp);
}

.compare-specifics-list-item:nth-child(odd) {
  background-color: var(--white);
}

.compare-specifics-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-block: 26px;
  padding-left: 40px;
}

.specifics-list-title {
  font-family: var(--font-transducer);
  font-weight: 400;
}

.specifics-list-description {
  color: var(--black-200);
}

.compare-btn {
  min-width: 100%;
}

.compare-get-in-touch {
  color: var(--black);
  border-color: var(--black);
  margin-block: 24px 8px;
}

/* ----- Compare explore more section ----- */
.compare-explore-more {
  padding-block: 70px 105px;
}
