/* ----- Hero section ----- */
.hero-section {
  height: 100vh;
  padding-top: 92px;
  display: flex;
  align-items: center;
  background: url(../images/sections/hero-section/hero-bg-layer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero-content-wrapper::before,
.hero-content-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-content-wrapper::before {
  left: 0;
  background-color: var(--black-300);
  clip-path: polygon(0 0, 68% 0, 38% 100%, 0 100%);
}

.hero-content-wrapper::after {
  right: 0;
  background-color: var(--gray-500);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 36% 100%);
}

.hero-main-wrapper {
  display: flex;
  align-items: center;
}

.hero-content-wrapper {
  width: 48%;
  height: 100%;
  padding-left: 4%;
}

.hero-title {
  font-family: var(--font-transducer-exp);
  font-style: italic;
  font-weight: 400;
  color: var(--primary-100);
  span {
    font-family: var(--font-transducer-black-exp);
  }
}

.hero-dec {
  max-width: 481px;
  margin-block: 22px 30px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-media {
  width: 52%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 0 100%);
}

/* ----- Featured slier section ----- */
.home-featured-slider {
  padding-block: 92px 80px;
}

.featured-slider {
  margin-top: 36px;
}

.primary-slider-arrows .splide__arrow {
  top: -16%;
  width: 56px;
  height: 46px;
  opacity: 1;
  border-radius: 0;
  color: var(--white);
  background: var(--black);
  transform: translateY(16%) skew(-14deg, 0);
  transition: all 0.3s ease-in-out;
}

.primary-slider-arrows .splide__arrow:hover {
  opacity: 1;
  background: var(--primary-100);
  color: var(--black);
  transform: translateY(16%) skew(-14deg, 0) scale(1.1);
}

.splide.is-focus-in .splide__arrow:focus {
  outline: none;
}

.primary-slider-arrows .splide__arrow--prev {
  left: auto;
  right: 72px;
}

.primary-slider-arrows .splide__arrow--next {
  right: 8px;
}

.primary-slider-arrows .splide__arrow svg {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
}

.featured-track {
  overflow: visible;
}

.featured-slider-wrapper {
  width: 605px;
  background-color: var(--white-200);
  padding-inline: 56px;
  padding-bottom: 32px;
}

.featured-slider-img-content {
  width: 492px;
  height: 454px;
}

.featured-slider-content {
  color: var(--gray-100);
}

.featured-content-title,
.featured-content-caption {
  font-style: italic;
}

.featured-content-title {
  font-family: var(--font-transducer-black-exp);
}

.featured-content-caption {
  font-family: var(--font-transducer);
  font-weight: 500;
}

.featured-content-price {
  margin-top: 18px;
  font-family: var(--font-transducer);
  font-weight: 400;
}

/* ----- Explore more section ----- */
.explore-more-section {
  background-color: var(--black);
}

.home-explore-more {
  padding-block: 80px 122px;
  background-color: var(--black-300);
}

.explore-slider {
  margin-block: 56px 46px;
}

.explore-track {
  overflow: visible;
}

.explore-wrapper {
  width: 674px;
  height: 440px;
  position: relative;
}

.explore-media-title {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.explore-media-btn {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

/* ----- Two column section ----- */
.champions-column-section {
  padding-block: 155px 92px;
}

.two-column-bg-left-layer,
.two-column-bg-right-layer {
  position: relative;
}

.two-column-bg-left-layer::before,
.two-column-bg-right-layer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: var(--white-200);
}

.two-column-bg-left-layer::before {
  left: 0;
  clip-path: polygon(42% 0, 0 0, 0 100%);
}

.two-column-bg-right-layer::after {
  right: 0;
  clip-path: polygon(100% 0, 72% 100%, 100% 100%);
}

.two-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.two-column-img-content {
  width: 52%;
  max-width: 670px;
}

.two-column-content {
  width: 48%;
  max-width: 566px;
}

.two-column-title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;

  span {
    font-family: var(--font-transducer);
    font-weight: 500;
  }
}

.two-column-description {
  max-width: 502px;
  margin-block: 44px;
  color: var(--black-200);
}

/* ----- Cta banner section ----- */
.home-cta-banner {
  padding-block: 92px 45px;
}

.cta-banner-wrapper {
  position: relative;
  height: 296px;
}

.cta-banner-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 18px;
}

.cta-banner-title {
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
}

/* ----- Shop by brand section ----- */
.shop-by-brand {
  padding-block: 45px 70px;
}

.shop-brand-title {
  display: flex;
  justify-content: center;
  gap: 14px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;

  span {
    font-family: var(--font-transducer);
    font-weight: 500;
  }
}

.shop-brand-slider {
  margin-top: 62px;
}

.shop-brand-list {
  align-items: center;
}

.shop-brand-content {
  max-width: 200px;
  max-height: 120px;
}

.shop-brand-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ----- Finance column section ----- */
.finance-column-section {
  padding-block: 70px 140px;
}

/* ----- Testimonial section ----- */
.testimonial-section {
  background: var(--black-300);
  padding-block: 168px 150px;
  position: relative;
}

.testimonial-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.testimonial-slider {
  max-width: 960px;
  margin-bottom: 66px;
}

.testimonial-content-wrapper {
  max-width: 792px;
}

.testimonial-content-tag {
  font-size: 108px;
  font-family: var(--font-transducer);
}

.testimonial-content {
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  margin-bottom: 55px;
}

.testimonial-slider .splide__pagination {
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  padding: 0;
}

.testimonial-slider .splide__pagination li {
  display: flex;
  line-height: 0;
}

.testimonial-slider .splide__pagination__page {
  width: 74px;
  height: 2px;
  margin: 0;
  border-radius: 0;
  padding-block: 6px;
  background: transparent;
  opacity: 1;
  position: relative;
}

.testimonial-slider .splide__pagination__page::before {
  content: "";
  width: 74px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--primary-100);
  opacity: 30%;
  transition: all 0.3s ease-in-out;
}

.testimonial-slider .splide__pagination__page.is-active,
.testimonial-slider .splide__pagination__page.is-active::before {
  transform: scale(1);
  opacity: 1;
}

.splide.is-focus-in .splide__pagination__page:focus,
.splide__pagination li:focus-visible {
  outline: none;
}

/* ----- Cta blog section ----- */
.cta-blog-section {
  height: 575px;
  position: relative;
}

.cta-blog-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.cta-blog-title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  font-weight: 900;
  margin-bottom: 24px;
  span {
    color: var(--primary-200);
  }
}

/* ========================================
          productCategory HTML
========================================*/
/* ----- Category hero section ----- */
.category-hero {
  background-color: var(--black);
  padding-block: 102px 78px;
  margin-top: 96px;
}

.category-hero-contents {
  max-width: 800px;
}

.category-hero-title {
  font-size: 50px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  line-height: 1.2;
}

.category-hero-description {
  color: var(--white-68);
  margin-block: 26px 28px;
}

.category-hero-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.category-hero-btn {
  background-color: var(--white-21);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.category-hero-btn:hover {
  color: var(--black);
}

/* ----- Product category section ----- */
.product-category-section {
  padding-block: 66px 110px;
  /* 48 65 */
  position: relative;
}

.product-category-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.product-items-wrapper {
  width: 18%;
  max-width: 224px;
  min-width: 224px;
  position: sticky;
  top: 120px;
  left: 0;
}

.product-category-links {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-category-link {
  font-family: var(--font-transducer-black-exp);
  font-weight: 500;
  font-style: italic;
  color: var(--black);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.product-category-link:not(:last-child)::after {
  content: "/";
  margin-left: 2px;
}

.product-category-link.active {
  font-family: var(--font-transducer);
  opacity: 50%;
}

.product-category-title {
  font-family: var(--font-transducer);
  font-weight: 400;
  margin-block: 42px 46px;
}

.filter-toggle-btn {
  display: none;
  align-items: center;
  gap: 12px;
  font-family: var(--font-transducer-black-exp);
  font-style: italic;
  font-weight: 500;
}

.filter-toggle-btn svg {
  width: 16px;
}

.product-lists-close-btn {
  display: none;
}

.product-clear-btn {
  border: none;
  background-color: transparent;
  color: var(--black-50);
  font-family: inherit;
  padding-block: 8px;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
}

.product-clear-btn:hover {
  color: var(--black);
}

.product-lists-item-wrapper {
  padding-block: 16px;
  border-top: 1px solid var(--black-25);
}

.product-lists-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-family: var(--font-transducer);
  font-weight: 400;
}

.product-lists-item-icon {
  width: 16px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.product-lists-item-title.active .product-lists-item-icon {
  transform: rotate(45deg);
}

.product-lists-contents {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease-in-out;
}

.product-lists-contents.active {
  grid-template-rows: 1fr;
  padding-block: 30px 10px;
}

.product-lists-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-lists-item:not(:last-child) {
  margin-bottom: 10px;
}

.product-lists-item label {
  font-family: var(--font-transducer-exp);
  font-style: italic;
}

.product-blog-content {
  width: 82%;
  max-width: 995px;
}

/* Start custom select css */
.select-box {
  width: 194px;
  position: relative;
  text-transform: capitalize;
}

.select-box-label {
  pointer-events: none;
  position: absolute;
  top: 22px;
  left: 20px;
  /* transform: translateY(-50%); */
  z-index: 1;
}

.choices[data-type*="select-one"]::after {
  top: 32px;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
}

.choices {
  border-radius: 14px;
  font-size: 12px;
  filter: drop-shadow(0 3px 6px var(--black-6));
  /* background-color: var(--white); */
}

.choices:last-child {
  margin-bottom: 38px;
}

.choices__inner {
  background-color: var(--white);
  border: none;
  border-radius: 0;
  padding: 22px 20px;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 22px;
}

.is-open .choices__inner {
  border-radius: 14px 14px 0 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  display: grid;
  grid-template-rows: 0fr;
  /* position: static; */
  border: none;
  margin-top: 0;
  border-radius: 0 0 14px 14px;
  padding-bottom: 26px;
  cursor: auto;
  transition: all 0.3s ease-in-out;
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  display: grid;
  grid-template-rows: 1fr;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  max-height: 180px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 12px;
  color: var(--black-200);
  padding: 6px 18px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__item--selectable:not(:last-child) {
  margin-bottom: 6px;
}

.choices__item--selectable {
  position: relative;
}

.choices__item--selectable::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid var(--black);
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

/* Inner fill */
.choices__item--selectable::after {
  content: "";
  width: 78%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.choices__item--selectable.is-selected::after {
  transform: translate(-50%, -50%) scale(1);
}

/* .choices__item--selectable::before {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid var(--black);
  border-radius: 4px;
  position: relative;
}

.choices__item--selectable::before::after {
  content: "";
  width: 78%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.choices__item--selectable.is-highlighted::before::after {
  transform: translate(-50%, -50%) scale(1);
} */
/* End custom select css */

.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px 30px;
}

.product-card {
  width: 310px;
  padding: 18px;
  background-color: var(--white-100);
}

.product-card-img {
  height: 240px;
  object-position: bottom;
}

.product-card-title,
.product-card-caption {
  font-style: italic;
}

.product-card-title {
  font-family: var(--font-transducer-black-exp);
}

.product-card-caption,
.product-card-price {
  font-family: var(--font-transducer);
}

.product-card-price {
  font-weight: 400;
  color: var(--gray-100);
  margin-top: 8px;
}

.cta-content-banner {
  min-height: 240px;
  max-height: 240px;
  background-color: var(--black);
  position: relative;
  margin-block: 118px 108px;
}

.cta-contents-wrapper {
  width: 100%;
  max-width: 824px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cta-content {
  max-width: 478px;
}

.cta-content-title {
  font-size: 52px;
  font-family: var(--font-transducer);
  font-weight: 400;
  margin-bottom: 4px;
}

.product-load-more-btn {
  margin-top: 94px;
  justify-self: center;
}

/* ----- Explore more section ----- */
.category-explore-more {
  padding-block: 70px 85px;
}
